*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    font-size: 62.5%;
}

body{
    font-family: "Roboto", sans-serif;
    height: 100vh;
   background: url(../imagens/fundo-site.png) no-repeat center center;
}

a{
    color: black;
    text-decoration: none;
}

ul li{
    list-style: none;
}
