

.cabecalho{
    /* position: absolute; */
    /* top: 0; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10rem;
    font-size: 2rem;
    color:rgb(255, 255, 255);
}

.container{
    display: grid;
    grid: "lista-naruto lista-dragon" 84.4vh /50%;
   
   
}

.lista.naruto{
    grid-area: lista-naruto;
}
.lista.dragon{
    grid-area: lista-dragon;
}